.new-photo-input {
  display: inline-block;
  margin: 25px;
  width: 50%;
}


input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  width: 28%;
  height: 20px;
}

/* .submit-btn {
  display: block;
} */